*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*  10px/16px = 62.5% -> 1 rem = 10px  */
}

body {
    font-weight: 300;
    line-height: 1.6;
    /* background-image: url(images/oriental-tiles.png); */
}

.container {
    margin: 5rem;
}




/*  ************  HEADER  ***********  */


header {
    position: relative;
    background-image: url(video/coverr-drone-shot-in-tierra-del-fuego-argentina-14-7426.mp4);
    
    /* background-image: url(images/more-leaves-on-green.png); */
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 12%;
    height: 21vh;
    /* position: fixed; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: fit-content;
    font-size: 2rem;
}

a {
    color: #B89068;
    text-decoration: none;
    letter-spacing: .5rem;
    padding: 1rem 2rem;
    /* border-bottom: 1px solid #B89068; */
    
    
}

a:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    border: 2px solid goldenrod;
    /* padding: 1rem; */
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 200ms linear;

}

.team-lead {
    width: 15%;
    margin-top: 4rem;
    
}

.team-lead__wrapper{
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5rem;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}
    
.team-lead__wrapper img  {
    width: 100%;
    margin-top: -5rem;
}

/* .team-lead__presentation {
    margin-top: 4rem;
    font-size: 2.5rem;
    color: #F7DDA4;
} */

.team-lead__presentation:hover > .team-lead__presentation-entity {
    color: #FFDF00;
    transition: color 200ms linear;
   
}

.team-lead__presentation-entity {
    color: #F7DDA4;
    font-size: 9rem;
    margin-left: 2rem;
    
}  

/* @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash'); */
/* @import url('https://fonts.googleapis.com/css?family=Emilys+Candy'); */
/* @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative'); */
/* @import url('https://fonts.googleapis.com/css?family=Arizonia'); */
/* @import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise'); */

.team-lead__presentation{
    /* font-family: "Emilys Candy"; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: center;
    font-size: 2.5rem;
    color:  #F7DDA4;
    margin-top: 4rem;
    /* background-color: rgb(84, 84, 84); */
    text-shadow: rgb(0, 0, 0) 0px 2px 2px;
}

.header-slogan {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 9.5rem;
    line-height: 1;
    color: #F7DDA4;
}

.button-contactUs {
    color: white;
    font-size: 3.5rem;
    
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 2rem;

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    transition: letter-spacing 400ms linear;

}

.button-contactUs:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    transition: color 300ms linear;

    /* transition: letter-spacing 400ms linear; */

    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.header-slogan .button-contactUs span {
    padding-left: 3rem;
    font-size: 5rem ;
}



.cover-video {
    min-width: 100%;
    min-height: 100%;
    filter: brightness(20%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    
  }

  


  


/*         chernovik                 */


/* &ldquo; */
/* &rdquo; */
      /* .secondborder {
    background-color: #7d7d7d;
    background-image: url(images/oriental-tiles.png);
    display: block;
    padding: 4%;
    margin: 1% 0 1% 0;
    margin-top: 5rem;
    border-radius: 50% ;
    -moz-border-radius: 50% ;
    -webkit-border-radius: 50% ;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
.borderedpicture {
    background-color: #7d7d7d;
    background-image: url(images/more-leaves-on-green.png);
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    size: cover;
    padding: 2%;
    margin: 0;
    border-radius: 50% ;
    -moz-border-radius: 50% ;
    -webkit-border-radius: 50% ;
    border: 1px solid #61201e;
    -webkit-box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    } */

    /* <!-- <img src="images/Sales Team/Olivia Labossière/Original.jpg" alt="team lead photo" class="team-lead"> -->

    <!-- <div class="klara">
        <img src="images/Sales Team/Olivia Labossière/Original.jpg" alt="team lead photo" class="team-lead">
    </div> -->
    <!-- <div class="secondborder klara">
        <div class="borderedpicture">
            <img src="images/Sales Team/Olivia Labossière/Small.jpg" alt="team lead photo" class="team-lead">
        </div> -->
        
        <!-- <img src="images/Sales Team/Olivia Labossière/Small.jpg" alt="team lead photo" class="team-lead borderedpicture"> -->
    <!-- </div> --> */
