*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior:  smooth;
    box-sizing: border-box;
    font-size: 62.5%; /*  10px/16px = 62.5% -> 1 rem = 10px  */
}

body {
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
}

/* ********* HUMBURGER ******** */

.humburger {
    position: absolute;
    height: 100vh;
    z-index: -1;
    width: 100vw;
    margin-left: -100vw;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
}

#menu {
    display: none;
}

.menu,
.menu::before,
.menu::after {
    position: absolute;
    width: 5.5rem;
    height: .5rem;
    border-radius: .5rem;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
}

.menu {
    background-color: #fceed1;
}

.menu::before,
.menu::after {
    background-color: #F7DDA4;
}

.menu {
    cursor: pointer;
    top: 7%;
    left: 7%;
    display: none;
}

.menu::before {
    content: '';
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
}

.menu::after {
    content: '';
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
}

#menu:checked + .menu {
    width: 0px;
}

#menu:checked + .menu::before {
    transform: rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px);
    -moz-transform: rotate(45deg) translate(0px);
}

#menu:checked + .menu::after {
    transform: rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px);
    -moz-transform: rotate(-45deg) translate(0px);
}

.nav-humburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #B89068;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
}

.nav-humburger a {
    font-size: 2rem;
    border-bottom: 1px solid #4F545F;
    color: #fceed1;
}

.about-link {
    margin-top: 5rem;
}

.nav-open .menu::before,
.nav-open .menu::after {
    background: #4F545F;
}

.nav-open .nav-humburger {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}

.nav-open .humburger {
    margin-left: 0;
}

/*  ************  HEADER  ***********  */

header {
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: -moz-linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
    background: linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    padding-right: 3rem;
}

.logo {
    position: absolute;
    width: 15%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 57%;
    height: fit-content;
    height: -moz-fit-content;
    font-size: 2rem;
}

.nav-a {
    color: #B89068;
    letter-spacing: .5rem;
    padding: 1rem 2rem;
    text-align: center;
}

.nav-a:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    border: 2px solid goldenrod;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.team-lead {
    width: 25%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-lead__wrapper{
    max-width: 50rem;
    max-height: 50rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}
    
.team-lead__wrapper img  {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
    max-width: 50rem;
}

.team-lead__presentation:hover > 
.team-lead__presentation-entity,
.realtor__presentation:hover >
.realtor__presentation-entity {
    color: #FFD700;
    transition: color 200ms linear;
}

.team-lead__presentation-entity,
.realtor__presentation-entity {
    color: #B89068;
    transition: color 200ms linear;
    font-size: 9rem;
}  

.team-lead p{
    text-align: center;
    font-size: 2.5rem;
    color: #FFE4C4;
    font-family: 'Sansita Swashed', cursive;
}

.header-slogan {
    position: absolute;
    top: 63%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.header-slogan h1 {
    font-size: 9.5rem;
    line-height: 1;
    color: #F7DDA4;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.button-contactUs {
    color: #fceed1;
    font-size: 3.5rem; 
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 2rem;
    transition: color 300ms linear;
}

.button-contactUs:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.header-slogan .button-contactUs span {
    padding-left: 3rem;
    font-size: 5rem ;
}

.video-wrapper { 
    filter: brightness(30%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; 
  }

  .video-wrapper video {
    min-width: 100%;
    min-height: 100vh;
  }

  
  .team-lead__presentation span.team-lead__name,
  .team-lead__presentation span.team-lead__dream {
    font-size: 4rem; 
    color: #F7DDA4;
}

.team-lead__presentation span.team-lead__dream {
    font-size: 3rem;
    color: #F7DDA4;
}


 /*  ************  REALTORS  ***********  */ 

.realtors  {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-right: 20rem ;
    padding-left: 20rem ;
    display: flex;
    justify-content: space-evenly;
    background: -moz-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Original.jpg") no-repeat center center / cover ;
    background: -webkit-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Original.jpg") no-repeat center center / cover ;
    background: linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Original.jpg") no-repeat center center / cover ;
    height: 100%; 
}

.realtor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 4rem;
}

.realtor-one,
.realtor-two,
.realtor-three {
    max-width: 50rem;
    max-height: 50rem;
    overflow: hidden;
    border-radius: 50%;
}

.realtor-one img {
    margin-top: -10rem;
}

.realtor-one img,
.realtor-two img,
.realtor-three img {
    width: 100%;
}

.realtors-presentation p  {
    text-align: center;
    font-size: 2.5rem;
    color: #DDDDDD;
    font-family: 'Sansita Swashed', cursive;
} 

.button-contactMe {
    color: #fceed1;
    font-size: 3.5rem; 
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 10rem;
    transition: color 300ms linear;    
}

.button-contactMe:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.button-contactMe span {
    padding-left: 3rem;
    font-size: 5rem ;
}

.realtor__presentation span.realtor-name {
    font-size: 4rem; 
    color: #F7DDA4;
}

.realtor__presentation span.realtor-name__question {
    font-size: 3rem;
    color: #F7DDA4;
}



/*  ************  HOUSES  ***********  */  


.houses {
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    background-image: url("images/Houses/diamond_upholstery.png");
}

.family-house,
.bungalow-house,
.single-family-house {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    padding: 0 1.3rem;
}

.house-1 > * img:hover,
.house-2 > * img:hover,
.house-3 > * img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

.house-1 > * img,
.house-2 > * img,
.house-3 > * img {
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
}

.house-1 > *,
.house-2 > *,
.house-3 > * {
    text-align: center;
    overflow: hidden;
}

.house-1,
.house-2,
.house-3 {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 6rem);
}

h3 {
    font-size: 5rem;
    margin: 0 auto;
    padding: 1rem 0;
    border-top: .2rem solid #f6abb6;
    border-bottom: .2rem solid #f6abb6;
    font-family: 'Sansita Swashed', cursive;
    color: #fe8a71;
}

.front-view {
    grid-column-start:1 ;
    grid-column-end:12 ;
    grid-row-start:1 ;
    grid-row-end:7 ;
}

.front-view img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.interior-1 img,
.interior-2 img,
.interior-3 img,
.exterior-1 img,
.exterior-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.interior-1 {
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}

.interior-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}

.interior-3 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 9;
}

.exterior-1 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
}

.exterior-2 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
}

.house-description {
    margin-top: 3rem;
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 4rem);
    gap: 5rem;
    color: #4F545F;
    font-weight: 600;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(252,204,70,.1);
}

.house-description__area-icon {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.house-description__area-location {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.house-description__bedrooms-icon {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

.house-description__bedrooms {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.house-description__date-icon {
    display: flex;
    justify-content: flex-end;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: translateX(3rem);
    -webkit-transform: translateX(3rem);
}

.house-description__date-current {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
}

.house-description__price-icon {
    display: flex;
    justify-content: flex-end;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: translateX(3rem);
    -webkit-transform: translateX(3rem);
}

.house-description__price-amount {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
}

.open-house {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 3rem;
    border-radius: 5rem;
    background-color: rgba(28,181,224,.5);
    transition: color 300ms ease-in-out ;
    -webkit-transition: color 300ms ease-in-out ;
    color: #2F4F4F;
}

.house-description:hover > .open-house {
    color: #fceed1;
    background: rgba(203,96,179,.8);
    -webkit-box-shadow: -2px 5px 40px 6px rgba(0,0,0,0.42);
    -moz-box-shadow: -2px 5px 40px 6px rgba(0,0,0,0.42);
    box-shadow: -2px 5px 40px 6px rgba(0,0,0,0.42);
    transition: color 300ms ease-in-out ;
    -webkit-transition: color 300ms ease-in-out ;
}

.house-description__bedrooms-icon img,
.house-description__price-icon img,
.house-description__area-icon img,
.house-description__date-icon img {
    height: 100%;
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(360deg)
    saturate(10)
    brightness(1);
}

.house-description:hover > .house-description__bedrooms-icon,
.house-description:hover > .house-description__price-icon,
.house-description:hover > .house-description__area-icon,
.house-description:hover > .house-description__date-icon {
   
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(250deg)
    saturate(10)
    brightness(1);
}

.button-contactRealtor {
    color: #fceed1;
    font-size: 3.5rem; 
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 5rem;
    transition: color 300ms linear; 
    -webkit-transition: color 300ms linear;     
    align-self: center;
    margin-bottom: 5rem;
}

.button-contactRealtor:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.button-contactRealtor span {
    padding-left: 3rem;
    font-size: 5rem ;
}



/*  ************  CONTACT  ***********  */  

 
.h2-wrapper {
    margin-top: 5rem;
}

h2 {
    text-align: center;
    letter-spacing: .5rem;
    font-size: 6rem;
    width: 30%;
    margin: 0 auto;
    color: #4F545F;
    font-weight: 500;
    border-bottom: 1px solid #4F545F;;
    font-family: 'Sansita Swashed', cursive;
}

.contact-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.contact-wrapper > * {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 15rem);
    align-items: center;
}

.contact-form form > * {
    font-family: 'Sansita Swashed', cursive;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4F545F;
}

.contact-form {
    min-width: 65%;
    letter-spacing: .3rem; 
}

.contact-input {
    width: 55%;
}

.contact-label {
    width: 45%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 1px solid limegreen;
  -webkit-text-fill-color: whitesmoke;
  box-shadow: 0 0 0px 100rem limegreen inset;
  -webkit-box-shadow: 0 0 0px 100rem limegreen inset;
}
  
.contact-name :first-child ::after,
.contact-email :first-child ::after {
    content: "\2734";
    color: red;
    font-size: 1rem;
    display: inline-block;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
}

input[type=text],
input[type=email],
select, 
textarea
 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #4F545F;
    outline: none;
}

input[type=text],
input[type=email],
select{
    letter-spacing: .4rem;
}

textarea {
    letter-spacing: .2rem;
    height: 15rem;
}

select {
    font-family: 'Sansita Swashed', cursive;
    font-weight: 600;
}

option:first-child {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.required {
    border: 1px solid red !important;
}

.contact-submit div {
    font-family: 'Montserrat', sans-serif;
    color: #fceed1;
    font-size: 3rem;
    font-weight: 600; 
    letter-spacing: .5rem;
    background: linear-gradient(to top, #11998e, #38ef7d);
    background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin: 0 auto;
    border-radius: 5rem;
}

.contact-submit div:hover {
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(0,255,38,.7);
    -moz-box-shadow: 0px 9px 61px 2px rgba(0,255,38,.7);
    box-shadow: 0px 9px 61px 2px rgba(0,255,38,.7);
}

.contact-submit div span {
    padding-left: 3rem;
    font-size: 4rem ;
}

.contact-form form {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
    width: 100%;
    font-size: 2.3rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(252,204,70,.1);
}

.contact-logo img {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
    height: 100%;
}



/*  ************  FOOTER  ***********  */  


footer {
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #B89068;
    color: white;
    letter-spacing: .3rem;
    font-weight: 600;
}

.footer-nav {
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px solid #fceed1; 
}

.footer-nav > * {
    margin-bottom: 3rem;
}

.footer-media {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 2rem);
    width: 25%;
}

.footer-media__facebook img,
.footer-media__instagram img,
.footer-media__twitter img,
.footer-media__youtube img,
.footer-media__linkedin img {
    height: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.footer-media__facebook img:hover,
.footer-media__instagram img:hover,
.footer-media__twitter img:hover,
.footer-media__youtube img:hover,
.footer-media__linkedin img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.footer-media__facebook {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-media__instagram {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-media__twitter {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-media__youtube {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-media__linkedin {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.footer-info__address {
    padding-right: 2.5rem;
}

.footer-info__phone {
    padding: 0 2.5rem;
    border-left: 2px solid  #fceed1;
    border-right: 2px solid #fceed1;
}

.footer-info__email {
    padding-left: 2.5rem;
}

.footer-copyright {
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
}


/* **********To top********** */

#toTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3rem;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    font-weight: 600;
    color: #fceed1;
    background-color: #B89068;
}
  
#toTop:hover {
    border: .4rem solid white;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    background: linear-gradient(to top, #11998e, #38ef7d);
    background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
}


@media only screen and (max-width: 2200px) {

    /*  ************  HEADER  ***********  */

    .team-lead p > * {
        font-size: 5rem;
    }

    /*  ************  REALTORS  ***********  */

    .realtors{
        padding: 0;
        padding-top:  3rem;
        height: auto;
        background: linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Large.jpg") no-repeat center center / cover ;
        background: -webkit-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Large.jpg") no-repeat center center / cover ;
    } 

    .realtor-one,
    .realtor-two,
    .realtor-three {
        max-width: 40rem;
        max-height: 40rem;
    }

    .realtor-one img {
        margin-top: -6rem;
    }
 
    .realtor__presentation{
        font-size: 2rem;
        width: 100%;
    }
 
    .realtor__presentation span.realtor-name {
        font-size: 2.5rem; 
    }
     
    .realtor__presentation span.realtor-name__question {
        font-size: 2rem;  
    }

    .realtor__presentation-entity {
        font-size: 4rem;
    }  
    
    .button-contactMe {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 6.5rem;
    }

    .button-contactMe span {
        padding-left: 2.5rem;
        font-size: 3rem ;
    }


    /*  ************  HOUSES  ***********  */

    .open-house {
        font-size: 2.5rem;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 5;
    }


    /*  ************  FOOTER  ***********  */  
    .footer-info {
        font-size: 2.5rem;
    }

}


@media only screen and (max-width: 2020px) {

    /*  ************  HEADER  ***********  */

    .header-slogan h1 {
        font-size: 7.5rem;
    }
    
    /*  ************  HOUSES  ***********  */

    .house-description__date-current {
        font-size: 1.9rem;
    }

    /*  ************  CONTACT  ***********  */

    .contact-label {
        font-size: 1.8rem;
    }

    /*  ************  FOOTER  ***********  */  

    .footer-info {
        font-size: 2rem;
    }

    .footer-copyright {
        font-size: 1.7rem;
    }

}


@media only screen and (max-width: 1720px) {

    /*  ************  HEADER  ***********  */

    .navigation {
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        display: none;
    }

    .header-wrapper{
        display: block;
    }

    .team-lead {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .team-lead__wrapper{
        max-width: 40rem;
        max-height: 40rem;
        align-self: center;
    }

    .team-lead__wrapper img{
        height: 40rem;
        width: 40rem;
    }
        
    .team-lead__presentation{
        font-size: 1.5rem;
        margin-top: 0rem;
        width: 30%;
    }

    .team-lead__presentation-entity {
        font-size: 3rem;
        margin-left: 1rem;
    }  

    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 3.5rem;
    }

    .header-slogan {
        transform: translate(0, 0);
        position: static;
        text-align: center;
        margin: 5rem 0;
    }
    
    .header-slogan h1 {
        font-size: 6.5rem;
        line-height: 1;
    }
    
    .button-contactUs {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 3rem;
    }

    .header-slogan .button-contactUs span {
        padding-left: 2rem;
        font-size: 4rem ;
    }


    /*  ************  REALTORS  ***********  */

    .realtors{
        background: linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Medium.jpg") no-repeat center center / cover ;
        background: -webkit-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Medium.jpg") no-repeat center center / cover ;
    } 


    /*  ************  HOUSES  ***********  */

    .house-description__date-current {
        font-size: 2rem;
    }

    .open-house {
        font-size: 2.2rem;
    }

    .button-contactRealtor {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }


    /*  ************  FOOTER  ***********  */  

    .footer-info {
        font-size: 1.7rem;
    }

    .footer-copyright {
        font-size: 1.4rem;
    }

}


@media only screen and (max-width: 1640px) {

    /*  ************  CONTACT  ***********  */

    .contact-form {
        width: 80%;
    }

    .contact-form form {
        font-size: 2rem;
    }

    .contact-logo {
        grid-template-rows: repeat(6,10rem);
    }

    .contact-submit div {
        font-size: 2rem;
    }

    .contact-submit div span {
        font-size: 3rem;
    }

    /*  ************  FOOTER  ***********  */  

    .footer-info {
        font-size: 1.5rem;
    }

    .footer-copyright {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 1550px) {

    /*  ************  HEADER  ***********  */

    .logo {
        margin-top: 4rem;
    }
    
    .header-slogan h1 {
        font-size: 6.5rem;
        line-height: 1;
    }
    
    .button-contactUs {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
    }

    .header-slogan .button-contactUs span {
        padding-left: 2rem;
        font-size: 3rem ;
    }

    /* ************  REALTORS  ***********  */

    .realtors > * {
        width: 100%;
    }
    
    .realtor-one,
    .realtor-two,
    .realtor-three {
        max-width: 35rem;
        max-height: 35rem;
    }

    .realtor-one img,
    .realtor-two img,
    .realtor-three img {
        width: 35rem;
    }

    .realtor__presentation-entity {
        font-size: 3rem;
    }  
    
    .button-contactMe {
        font-size: 2rem;
    }

    .button-contactMe span {
        font-size: 3rem ;
    }


    /*  ************  HOUSES  ***********  */

    .houses {
        padding-top: 2rem;
        height: 100%;
    }

    .family-house,
    .bungalow-house,
    .single-family-house {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
    }

    .house-1,
    .house-2,
    .house-3 {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(10, 3rem);
    }

    h3 {
        font-size: 3rem;
    }

    .house-description {
        margin-top: 1rem;
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(4, 2rem);
        gap: 3rem;
    }

    .house-description__date-current {
        font-size: 1.4rem;
    }

    .open-house {
        font-size: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .button-contactRealtor {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    .button-contactRealtor span {
        padding-left: 2rem;
        font-size: 3rem ;
    }


    /*  ************  CONTACT  ***********  */

    .contact-wrapper {
        flex-wrap: wrap;
    }

    .contact-form {
        width: 100%;
    }

    .contact-logo {
        grid-template-rows: repeat(6,15rem);
    }


    /*  ************  FOOTER  ***********  */  

    .footer-media {
        grid-template-rows: repeat(2, 1rem);
    }


    /* **********To top********** */

    #toTop {
        font-size: 1.2rem;
        padding: 2.2rem;
        width: 9rem;
        height: 9rem;
        letter-spacing: .2rem;
    }

}  


@media only screen and (max-width: 1520px) {

    /*  ************  HEADER  ***********  */

    .header-slogan h1 {
        font-size: 6rem;
    }    


    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 3.2rem;
    }

}


@media only screen and (max-width: 1410px) {

    /*  ************  HEADER  ***********  */

    header {
        height: 100vh;
    }

    .header-slogan h1 {
        font-size: 5rem;
    }    

    .navigation {
        font-size: 2rem;
    }

    .team-lead__wrapper{
        max-width: 35rem;
        max-height: 35rem;
    }

    .team-lead__wrapper img{
        height: 35rem;
        width: 35rem;
    }

    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 2.5rem;
    }

    .team-lead p {
        font-size: 2rem;
    }

    /* ************  REALTORS  ***********  */
    
    .realtors {
        flex-wrap: wrap;
    }

    .realtors > * {
        width: 40%;
    }

    .realtors-presentation p{
        font-size: 2.3rem;
    }

    .realtor__presentation-entity {
        font-size: 3rem;
    }  
    

    .button-contactMe {
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    /*  ************  FOOTER  ***********  */  

    .footer-nav {
        justify-content: space-evenly;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .footer-info > * {
        margin: 2rem 0;
    }

    .footer-info__address {
        padding-right: 0;
    }
    
    .footer-info__email {
        padding-left: 0;
    }

    .footer-media {
        align-content: center;
    }

}
  


@media only screen and (max-width: 1220px) {

    /*  ************  HEADER  ***********  */

    header {
        height: 100%;
    }

    .navigation {
        font-size: 1.8rem;
    }

    .team-lead__wrapper{
        max-width: 30rem;
        max-height: 30rem;
    }

    .team-lead__wrapper img{
        height: 30rem;
        width: 30rem;
    }

    .logo {
        display: none;
    }

    .header-wrapper{
        display: block;
    }

    .team-lead p > * {
        font-size: 3rem;
    }

    .team-lead p {
        font-size: 2rem;
    }

    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 2.3rem;
    } 
    
    .header-slogan h1 {
        font-size: 4.5rem;
        line-height: 1;
    }
    
    .button-contactUs {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
    }

    .header-slogan .button-contactUs span {
        padding-left: 2rem;
        font-size: 3rem ;
    }


    /* ************  REALTORS  ***********  */
    
    .realtors > * {
        width: 50%;
    }


    /*  ************  CONTACT  ***********  */

    h2 {
        font-size: 4.3rem;
    }

    .contact-form form > * {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .contact-input {
        width: 100%;
    }

    .contact-label {
        width: 100%;
        margin-bottom: 1rem;
    }

    .contact-logo {
        grid-template-rows: repeat(6,12rem);
    }
    
}  


@media only screen and (max-width: 860px) {

    /*  ************  HEADER  ***********  */

    .nav-a {
        letter-spacing: .3rem;
    }
}


@media only screen and (max-width: 800px) {

    /* ********* HUMBURGER ******** */
    .menu {
        display: block;
        z-index: 2;
    }

    .humburger{
        z-index: 1;
    }

    .nav-humburger {
        height: 100%;
    }

    .nav-open header {
        height: 100vh;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
    }

    
    /*  ************  HEADER  ***********  */

    .navigation{
        display: none;
    }

    .nav-a {
        letter-spacing: .5rem;
    }

    .team-lead__wrapper{
        max-width: 27rem;
        max-height: 27rem;
    }

    .team-lead__wrapper img{
        height: 27rem;
        width: 27rem;
    }

    .team-lead p {
        font-size: 2rem;
        line-height: 3rem;
        width: 50%;
    }  

    .team-lead p > * {
        font-size: 3rem;
    }

    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 2.2rem;
    }

    .header-wrapper {
        padding-top: 5rem;
        padding-right: 0;
    }

    /*  ************  CONTACT  ***********  */

    h2 {
        font-size: 4rem;
        width: 45%;
    }

    .contact-logo {
        grid-template-rows: repeat(6,8rem);
    }

    /*  ************  FOOTER  ***********  */  

    .footer-nav {
        flex-wrap: wrap;
    }

    .footer-media {
        width: 100%;
    }

    
}


@media only screen and (max-width: 650px) {

    /*  ************  REALTORS  ***********  */ 
    
    .realtors > * {
        width: 70%;
    }

    /*  ************  HEADER  ***********  */

    .navigation{
        display: none;
    }
    
}



@media only screen and (max-width: 600px) {

    /* ********* HUMBURGER ******** */
    .menu {
        display: block;
    }

    /*  ************  HEADER  ***********  */

    .navigation{
        display: none;
    }

    .header-wrapper {
        padding: 2rem;
    }

    .team-lead__presentation {
        display: none;
    }

    .team-lead {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .team-lead__presentation span.team-lead__name,
    .team-lead__presentation span.team-lead__dream {
        font-size: 1.8rem;
    }

    .team-lead__wrapper{
        max-width: 23rem;
        max-height: 23rem;
        align-self: flex-end;
    }

    .team-lead__wrapper img{
        height: 23rem;
        width: 23rem;
    }

    .team-lead p > * {
        font-size: 2rem;
    }  

    .header-slogan {
        margin-top: 10rem;

    }
    .header-slogan h1 {
        font-size: 3.5rem;
        line-height: 1.8;
    }
    
    .button-contactUs {
        font-size: 1.7rem;
    }

    .header-slogan .button-contactUs span {
        font-size: 2.5rem ;
    }

    /*  ************  REALTORS  ***********  */

    .realtors{
        background: linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Small.jpg") no-repeat center center / cover ;
        background: -webkit-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/SalesTeam/backgroundImage/Small.jpg") no-repeat center center / cover ;
    } 



    /*  ************  CONTACT  ***********  */

    .contact-label {
        font-size: 1.5rem;
    }
    
}


@media only screen and (max-width: 550px) {

    /*  ************  REALTORS  ***********  */ 

    .realtor-one img {
        margin-top: -3rem;
    }

    .realtor-one,
    .realtor-two,
    .realtor-three {
        max-width: 30rem;
        max-height: 30rem;
    }

    .realtor-one img,
    .realtor-two img,
    .realtor-three img {
        width: 30rem;
    }


    /* ************  REALTORS  ***********  */

    .realtors > * {
        width: 100%;
    }

    .realtors-presentation p{
        font-size: 2rem;
    }

    .realtor__presentation-entity {
        font-size: 2.5rem;
    }  
    

    .button-contactMe {
        font-size: 1.7rem;
    }


    /*  ************  CONTACT  ***********  */

    .contact-logo {
        grid-template-rows: repeat(6,5rem);
    }

    h2 {
        font-size: 3rem;
        width: 50%;
    }
}


@media only screen and (max-width: 420px) {

    /*  ************  HEADER  ***********  */

    .team-lead p  {
        display: none;
    }

    .header-slogan {
        margin-top: 0;
    }

    /*  ************  CONTACT  ***********  */

    h2 {
        font-size: 2.5rem;
        width: 60%;
    }

    .contact-submit div {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }

    .contact-submit div span {
        font-size: 2rem;
    }

    .contact-label {
        font-size: 1.1rem;
    }

    /*  ************  FOOTER  ***********  */  

    .footer-info {
        font-size: 1.2rem;
    }

    .footer-copyright {
        font-size: 1rem;
    }

    /* **********To top********** */

    #toTop {
        font-size: 1rem;
        padding: 2rem;
        width: 7rem;
        height: 7rem;
        letter-spacing: 0;
    }

}


/* and (-webkit-min-device-pixel-ratio: 2) */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 896px) 
  and (orientation: landscape) { 

    /* ********* HUMBURGER ******** */

    .menu {
        display: block;
        z-index: 2;
        top: 15%;
    }

    .humburger{
        z-index: 1;
    }

    .nav-humburger {
        height: 100%;
    }

    .nav-open header {
        height: 100vh;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
    }

    /*  ************  HEADER  ***********  */

    header {
        height: 100vh;
    }

    .header-wrapper {
        padding: 0;
    }

    .navigation,
    .team-lead__presentation {
        display: none;
    }

    .team-lead {
        margin: 0;
        justify-content: flex-end;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .team-lead__wrapper{
        max-width: 23rem;
        max-height: 23rem;
        align-self: flex-end;
    }

    .team-lead__wrapper img{
        height: 23rem;
        width: 23rem;
    }

    .header-slogan {
        margin: 0;
        text-align: start;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }

    .header-slogan h1 {
        font-size: 3rem;
    }

    .button-contactUs {
        letter-spacing: .5rem;
        font-size: 1.8rem;
        padding: .5rem 1.5rem;
    }
}

