*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*  10px/16px = 62.5% -> 1 rem = 10px  */
}

body {
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.container {
}




/*  ************  HEADER  ***********  */


header {
    position: relative;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: hidden;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
    height: 100vh;
    background: -moz-linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
    background: linear-gradient(180deg, rgba(0,0,70,.5) 0%, rgba(14,91,147,.5) 50%, rgba(28,181,224,.5) 100%);
}

.logo {
    position: absolute;
    width: 15%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo img {
    /* max-width: 50%; */
    /* width: 100%; */
    max-width: 100%;
    height: auto;
    /* height: 100%; */
    
}

@media only screen and (max-width: 650px) {
    .logo {
        width: 20rem;
        height: 20rem;
    }
} 

.navigation {
    display: flex;
    justify-content: space-between;
    width: 57%;
    height: fit-content;
    font-size: 2rem;
}

a {
    color: #B89068;
    text-decoration: none;
    letter-spacing: .5rem;
    padding: 1rem 2rem;
    text-align: center;
}

a:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    border: 2px solid goldenrod;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.team-lead {
    width: 25%;
    min-height: 100vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-lead__wrapper{
    max-width: 50rem;
    max-height: 50rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}
    
.team-lead__wrapper img  {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}

.team-lead__presentation:hover > 
.team-lead__presentation-entity,
.realtor__presentation:hover >
.realtor__presentation-entity {
    color: #FFD700;
    transition: color 200ms linear;
}

.team-lead__presentation-entity,
.realtor__presentation-entity {
    color: #B89068;
    transition: color 200ms linear;
    font-size: 9rem;
}  

.team-lead p{
    /* max-height: 100vh; */
    text-align: center;
    font-size: 2.5rem;
    color: #FFE4C4;
    /* color: black; */
    font-family: 'Sansita Swashed', cursive;
}

.header-slogan {
    position: absolute;
    top: 63%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.header-slogan h1 {
    font-size: 9.5rem;
    line-height: 1;
    color: #F7DDA4;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.button-contactUs {
    color: #fceed1;
    font-size: 3.5rem; 
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 2rem;
    transition: color 300ms linear;
}

.button-contactUs:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.header-slogan .button-contactUs span {
    padding-left: 3rem;
    font-size: 5rem ;
}

.video-wrapper {
    
    filter: brightness(30%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; 
  }

  .video-wrapper video {
    min-width: 100%;
    min-height: 100vh;
  }

  
  .team-lead__presentation span.team-lead__name {
    font-size: 4rem; 
    color: #F7DDA4;
}

.team-lead__presentation span.team-lead__dream {
    font-size: 3rem;
    color: #F7DDA4;
}




  @media only screen and (max-width: 1550px) {

    /*  ************  HEADER  ***********  */

    .logo {
        margin-top: 4rem;
    }

    .navigation {
        font-size: 1.7rem;
        margin-right: 2.5rem;
        /* width: 65%; */
    }

    .team-lead__wrapper{
        max-width: 30rem;
        max-height: 30rem;
        
    }
        
    .team-lead__wrapper img  {
        /* object-fit: cover; */
        /* margin-top: -3rem; */
        /* border-radius: 50%; */
        /* height: 100%; */
        /* width: 100%; */
    }

    .team-lead__presentation{
        font-size: 2rem;
        margin-top: 0rem;
        width: 100%;
    }

    .team-lead__presentation span.team-lead__dream {
        font-size: 2rem;
    }
    .team-lead__presentation span.team-lead__name {
        font-size: 2.5rem;
    }

    .team-lead__presentation-entity {
        font-size: 3rem;
    }  

    .header-slogan {
        top: 65%;
        left: 45%;
    }
    
    .header-slogan h1 {
        font-size: 6.5rem;
        line-height: 1;
    }
    
    .button-contactUs {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
    }

    .header-slogan .button-contactUs span {
        padding-left: 2rem;
        font-size: 3rem ;
    }

  }  

  

  @media only screen and (max-width: 1200px) {

    /*  ************  HEADER  ***********  */

    .navigation {
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
    }

    .team-lead__wrapper{
        margin-right: 0rem;
        width: 80%;
        /* object-fit: contain; */
        /* height: 100%; */
        /* border-radius: 50%; */




        /* overflow: hidden; */
    }
        
    .team-lead__wrapper img  {
        /* margin-top: -3rem; */
        /* border-radius: 50%; */
        /* height: 80%; */
        /* width: 100%; */
        /* object-fit: cover; */
    }

    .team-lead__presentation{
        font-size: 1.5rem;
        margin-top: 0rem;
        width: 100%;
    }

    .team-lead__presentation span.realtor-name__question {
        font-size: 1.6rem;
    }
    .team-lead__presentation span.realtor-name {
        font-size: 1.8rem;
    }

    .team-lead__presentation-entity {
        font-size: 3rem;
        margin-left: 1rem;
    }  

    .header-slogan {
        top: 60vh;
    }
    
    .header-slogan h1 {
        font-size: 4.5rem;
        line-height: 1;
    }
    
    .button-contactUs {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
    }

    .header-slogan .button-contactUs span {
        padding-left: 2rem;
        font-size: 3rem ;
    }


    /*  ************  REALTORS  ***********  */ 


  }  



 /*  ************  REALTORS  ***********  */ 



.realtors  {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-right: 20rem ;
    padding-left: 20rem ;
    display: flex;
    justify-content: space-evenly;
    background: -moz-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/Sales Team/background image/Original.jpg") no-repeat center center / cover ;
    background: -webkit-linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/Sales Team/background image/Original.jpg") no-repeat center center / cover ;
    background: linear-gradient(228deg, rgba(15,32,39,.9) 0%, rgba(32,58,67,.9) 44%, rgba(44,83,100,.9) 58%),url("images/Sales Team/background image/Original.jpg") no-repeat center center / cover ;
      
    height: 100vh;
}

.realtor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    margin: 0 4rem;
    /* min-height: 100vh; */
}

.realtor-one,
.realtor-two,
.realtor-three {
    max-width: 50rem;
    max-height: 50rem;
    overflow: hidden;
    border-radius: 50%;
    /* height: 100vh; */
    
}

.realtor-one img {
    margin-top: -10rem;
}

.realtor-one img,
.realtor-two img,
.realtor-three img {
    width: 100%;
    /* height: auto; */
    /* border-radius: 50%; */
}

.realtors-presentation { 
    /* width: 75%; */
}

.realtors-presentation p  {
    text-align: center;
    font-size: 2.5rem;
    color: #DDDDDD;
    font-family: 'Sansita Swashed', cursive;
} 

.button-contactMe {
    color: #fceed1;
    font-size: 3.5rem; 
    letter-spacing: .5rem;
    background-color: #B89068;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 4rem;
    margin-top: 10rem;
    transition: color 300ms linear;    
}

.button-contactMe:hover {
    color: #4F545F;
    background-color: #F7DDA4;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    -webkit-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    -moz-box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
    box-shadow: 0px 9px 61px 2px rgba(184,144,104,1);
}

.button-contactMe span {
    padding-left: 3rem;
    font-size: 5rem ;
}

.realtor__presentation span.realtor-name {
    font-size: 4rem; 
    color: #F7DDA4;
}

.realtor__presentation span.realtor-name__question {
    font-size: 3rem;
    color: #F7DDA4;
}


@media only screen and (max-width: 1550px) {


     /*  ************  REALTORS  ***********  */
    
    .realtors{
        padding: 0;
        padding-top:  3rem;
        height: auto;
    } 

     .realtor-one,
     .realtor-two,
     .realtor-three {
         max-width: 25rem;
         max-height: 25rem;
     }

     .realtor-one img {
        margin-top: -6rem;
    }
 

    .realtor__presentation{
        font-size: 2rem;
        /* margin-top: 0rem; */
        width: 100%;
    }
 
     .realtor__presentation span.realtor-name {
         font-size: 2.5rem; 
         
     }
     
     .realtor__presentation span.realtor-name__question {
         font-size: 2rem;
         
     }

     .realtor__presentation-entity {
        font-size: 3rem;
        /* margin-left: 1rem; */
    }  
    

     .button-contactMe {
        letter-spacing: .5rem;
        padding: .5rem 2.5rem;
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 6.5rem;
    }

    .button-contactMe span {
        padding-left: 2rem;
        font-size: 3rem ;
    }


  }



/*  ************  HOUSES  ***********  */  

.houses > * {
    /* width: auto; */
    /* height: auto; */
    /* color: black;
    font-size: 10rem;
    background-color: greenyellow;
    text-align: center; */
    
}

.houses {
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* width: 100%; */
    height: 100vh;
}

.house111 > *,
.house222 > *,
.house333 > * {
    color: black;
    font-size: 5rem;
    background-color: greenyellow;
    text-align: center;
}


.house111,
.house222,
.house333 {
    display: grid;
    grid-gap: 1rem;
    
    grid-template-columns: repeat(11, 6rem);
    grid-template-rows: repeat(14, 6rem);
    /* width: 30%; */
    /* width: 100%;
    height: 100vh; */
}

/* .houses {
    display: grid;
    grid-gap: 1rem;
    
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 100%;
    height: 100vh;
} */

.house1 {
    grid-column-start:1 ;
    grid-column-end:12 ;
    grid-row-start:1 ;
    grid-row-end:7 ;
    
}

.house1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.house2 {
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}

.house3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
}

.house4 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 9;
}

.house5 {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 9;
}

.house6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
}

.house7 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
}

.house8 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
}

.house9 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 13;
}

.house10 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 13;
}

.house11 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 12;
}

.house12 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 12;
    grid-row-end: 13;
}

.house13 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 15;
}

.house14 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 15;
}

.house15 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 13;
    grid-row-end: 15;
}




/*         chernovik                 */


/* &ldquo; */
/* &rdquo; */
      /* .secondborder {
    background-color: #7d7d7d;
    background-image: url(images/oriental-tiles.png);
    display: block;
    padding: 4%;
    margin: 1% 0 1% 0;
    margin-top: 5rem;
    border-radius: 50% ;
    -moz-border-radius: 50% ;
    -webkit-border-radius: 50% ;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
.borderedpicture {
    background-color: #7d7d7d;
    background-image: url(images/more-leaves-on-green.png);
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    size: cover;
    padding: 2%;
    margin: 0;
    border-radius: 50% ;
    -moz-border-radius: 50% ;
    -webkit-border-radius: 50% ;
    border: 1px solid #61201e;
    -webkit-box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    box-shadow: 0px 0px 60px -9px rgba(0,0,0,1);
    } */

    /* <!-- <img src="images/Sales Team/Olivia Labossière/Original.jpg" alt="team lead photo" class="team-lead"> -->

    <!-- <div class="klara">
        <img src="images/Sales Team/Olivia Labossière/Original.jpg" alt="team lead photo" class="team-lead">
    </div> -->
    <!-- <div class="secondborder klara">
        <div class="borderedpicture">
            <img src="images/Sales Team/Olivia Labossière/Small.jpg" alt="team lead photo" class="team-lead">
        </div> -->
        
        <!-- <img src="images/Sales Team/Olivia Labossière/Small.jpg" alt="team lead photo" class="team-lead borderedpicture"> -->
    <!-- </div> --> */
